<div class="container">
  <div class="header">
    <h4>Cars list</h4>
    <button type="button" class="btn" (click)="openPopup()">Add car<mat-icon>add</mat-icon>
    </button>
  </div> 
  @if (carList.length !== 0){
    <div class="container-row" id="list" #list>
      @for (item of carList; track $index) {
      <div class="container-row-col">
        <div class="card">
          <div class="card-header">
                {{item.brand}}&nbsp;{{item.model}}&nbsp;{{item.year}}
          </div>
          <div class="card-body">
            <p>Part: <span>{{item.part}}</span></p>
            <p>Cost: <span>{{item.cost}} $</span></p>
          </div>
        </div>
      </div>
      }
    </div>

  }@else{
    <div class="container-row">
        <p>No car found. Add new car</p>
    </div>
  }
</div>

<div class="model" id="popup" #popup>
  <div class="popup">
    <h4 class="popup-header">Add new car</h4>
    <div class="popup-form">
      <label for="">Brand</label>
      <input type="text" [(ngModel)]="carObj.brand" class="form-control" placeholder="brand">
    </div>
    <div class="popup-form">
      <label for="">Model</label>
      <input type="text" [(ngModel)]="carObj.model" class="form-control" placeholder="model">
    </div>
    <div class="popup-form">
      <label for="">Year</label>
      <input type="number" [(ngModel)]="carObj.year" class="form-control" placeholder="year">
    </div>
    <div class="popup-form">
      <label for="">Part</label>
      <input type="text" [(ngModel)]="carObj.part" class="form-control" placeholder="part">
    </div>
    <div class="popup-form">
      <label for="">Cost</label>
      <input type="text" [(ngModel)]="carObj.cost" class="form-control" placeholder="cost">
    </div>

    <div class="popup-btn">
      <button type="button" class="btn btn-close" (click)="close()">cancel</button>
      <button type="button" class="btn btn-close" (click)="save()">save</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

